tensorflow==2.6.2
tensorflow-datasets==4.2.0
tensorflow-estimator==2.6.0
tensorflow-metadata==0.26.0
tensorflow-recommenders==0.3.2
termcolor==1.1.0
tf-estimator-nightly==2.5.0.dev2021011901
tf-nightly==2.5.0.dev20210119
torch==1.10.1
torchtext==0.11.1
torchvision==0.11.2
